.navbar{
    background-color: #4e606e;
    font-family: 'Major Mono Display', Arial, Helvetica, monospace;
    border-bottom: 1px whitesmoke solid;

}

.links {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
    color: whitesmoke;
}

.nav-link:hover {
    color: whitesmoke;
}
